img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #C7C7BB;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color:#C7C7BB
}

.btn {
    border: none;
    border-radius: 5px;
    background: #44543d;
    color: #C7C7BB;
    border:  0;
    font-family: inherit;
    font-size: 1rem;
}

/* HEADER */

header {
    margin: 0;
}

/* NAVIGATION */


nav {
    background: #4b5d42;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 0;
    padding: 1em;
}

.website-title {
    font-size: 2rem;
}

.navigation-link {
    color: #C7C7BB
}

a:hover,
a:focus,
{
    color: #9cb863;
}

.current-page {
    text-decoration: underline;
}

/* HEADER MAIN */

.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c4cfbf;
    color: #44543d;
    padding: 1em;
    margin: 0;
}

.header-image {
    width: 80%;
    height: auto;
    border-radius: 10px;

}

.header-paragraph {
    margin-bottom: 0;
}

h1 {
    margin-top: 0;
}

.header-btn {
    padding: 1em 1em;
    margin: 1em;
    display:block;
  
}

/* MAIN SECTION ONE */

.main-section-one {
    background: #44543d;
    margin-top: 0;
    padding: 1em;
    text-align: center;
}

h2 {
    margin-top: 0;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.images-main {
    width: 80%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
    object-position: 45%;
}


.main-titles {
    font-size: 1.25rem;
    font-weight: bolder;
    margin-top: 0;
}

/* MAIN SECTION TWO */

.main-section-two {
    background: #c4cfbf;
    color: #44543d;
    padding: 1em;
    text-align: center;
}

/* MAIN SECTION THREE */

.main-section-three {
    background: #44543d;
    margin-top: 0;
    padding: 1em;
    text-align: center;
}

.main-btn {
    padding: 1em 1em;
    margin: 1em;
    display:block;
    background: #c4cfbf;
    color: #44543d;
}

/* FOOTER */

footer {
    background: #262e23;
    margin-top: 0;
    padding: 1em;
    text-align: center;
    opacity: 70%;
}