/* GENERAL SETTINGS */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* FONT SIZES */

body {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

nav {
    font-size: 1.5rem;

}

@media (min-device-width:700px) {
    body {
        font-size: 1.25rem
    }

    h1 {
        font-size: 2.25rem
    }

    h2 {
        font-size: 1.75rem;
    }

    nav {
        font-size: 1.75rem
    }
}

.main-titles {
    font-size: 1.25rem;
}


/* LINKS */

a {
    text-decoration: none;
    color:white;
}

a:hover,
a:focus {
    color: rgba(255, 255, 255, 0.686);
}



/* ===========================
            HEADER
   ===========================   */

header {
    margin: 0;
}

/* NAVIGATION */


nav {
    background: #44543d;
    font-weight: bolder;
    margin-top: 0;
    padding: 1em;
    letter-spacing: 0.5px;

}


.current-page {
    text-decoration: underline;
}

@media (min-device-width:700px) {

    .container-nav {
        background: #44543d;
        

    }
    
    nav {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;

    }

    .navigation-links {
        display: flex;
        justify-content: right;
    }

    .navigation-link {
        margin: 10px;
        text-align: right;
        margin-right: 0;
    }

    .website-title {
        margin: 10px;
        margin-left: 0;
    }
}

/* HEADER MAIN */

.header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    color: #44543d;
    padding: 2em 1em;
    margin: 0;
}

.header-text-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
}

.header-text {
    width: 80%;
}

.header-image {
    width: 80%;
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.header-paragraph {
    margin-bottom: 0;
}

.btn {
    display: block;
    padding: 1em 2em;
    background-image: linear-gradient(to right, rgb(77, 113, 53) , rgb(33, 58, 26) );
    margin: 2em;
    width: 50%;
    border-radius: 10px;
}

.btn:hover,
.btn:focus {
    background-image: linear-gradient(to left, rgb(77, 113, 53) , rgb(33, 58, 26) );
}

.header-main a:hover,
.header-main a:focus {
    color: white;
}

@media (min-device-width:700px) {

    .header-main {
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .header-text-btn {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;
    }

    .header-text {
        text-align: left;
    }
    .header-image {
        width: 45%;
        max-height: 400px;
        margin: 0;
    }

    .btn {
        display: block;
        padding: 1em 2em;
        background-image: linear-gradient(to right, rgb(77, 113, 53) , rgb(33, 58, 26) );
        margin: 1.5em;
        margin-left: 0;
        width: 30%;
        border-radius: 10px;
        min-width: 200px;
    }
   
    h1 {
        margin-bottom: 0
    }
    
  
}

/* ===========================
            MAIN
   ===========================   */

/* MAIN SECTION ONE */

.main-section-one {
    background: #44543d;
    margin: 0 auto;
    padding: 2em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;

}

.main-section-one-center {
    width: 80%;
    margin: 0 auto;
}


.main-section-one-title {
    margin: 1em;
    margin-top: 0;
}


.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.images-main {
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
    object-position: 45%;
}


.main-titles {
    font-weight: bolder;
    margin-top: 0;
}

/* MAIN SECTION TWO */

.main-section-two {
    background: #fdfffd;
    color: #44543d;
    text-align: center;
    margin: 0 auto;
    padding: 2em 1em;
}

.main-testimonial,
.main-author {
    width: 80%;
    margin: 0 auto;
}

.main-testimonial {
    margin-bottom: 1em;
}

/* MAIN SECTION THREE */

.main-section-three {
    background: #44543d;
    margin-top: 0;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    padding: 2em 1em;
}


.section-three-title,
.section-three-paragraph {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

input {
    margin: 1em;
    padding: 1em 2em;
    border: 0;
    display: block;
    background: white;
    border-radius: 10px;
    width: 50%;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}

button {
    margin: 1em;
    padding: 1em 2em;
    border: 0;
    display: block;
    border-radius: 10px;
    width: 50%;
    background: rgb(166, 177, 153);
    font-family: inherit;
    font-size: inherit;
    color: white;
    background-image: linear-gradient(to right, rgb(77, 113, 53) , rgb(33, 58, 26) );
    cursor: pointer;

}

button:hover,
button:focus {
    background-image: linear-gradient(to left, rgb(77, 113, 53) , rgb(33, 58, 26) );
}



/* FOOTER */

footer {
    background: #242c22;
    margin-top: 0;
    padding: 1em;
    text-align: center;
    
}

.copyright {
    opacity: 70%
}